:root{
    --mylime: #c2d82e;
    --myblue: #019fb7;
    --mypink: #e83f70; 
    --mypurple: #5e4375; 
    --myneon: hsl(317 100% 54%);
    --mybg:hsl(323 21% 16%)}

*{
    margin:0;
    padding:0;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding:0;
    color:var(--mylime);
    background-color:#5e4375;
    font-size: 18px;
}

nav {
    background: var(--myblue);
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100px;
    }

    nav img{
        width: 200px;
    }

    .navbar{
        flex:1;
        text-align: center;
    }

    .navbar ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
   
    .navbar ul li a{
        color: var(--mylime);
        font-size: 1.5 rem;
        text-decoration: none;
    }

    .navbar ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background-color: #5e4375;
        display:block;
        margin:auto;
        transition: 0.5s;
    }

    .navbar ul li:hover::after{
       width: 100%;
       transition: 1s;
       }

    .searchbar{
        margin-right: 200px;
    }
    h1, h2, h3, h4, h5, h6, p{
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .main-banner::before{
        position: relative;
        width:100%;
        height: 100vh;
        background-image: url('../images/header2.jpg');
        background-size: cover;
        background-attachment: fixed;
        clip-path: circle(180vh at 50% -80vh);
        isolation: isolate;
    
    } 
.main-banner{
    position: relative;
    width:100%;
    height: 100vh;
    background-image: url('../images/header3.jpg');
    background-size: cover;
    background-attachment: fixed;
    clip-path: circle(180vh at 50% -80vh);
    isolation: isolate;
    display:flex;

} 

.mainbannertext{
    position: relative;
    display: grid;
    z-index:1;
    max-width: 500px;
    margin-left: 100px;
    justify-content: center;    
    text-align: center;
}
    

.main-banner h1{
    font-size: 50px;
    margin-top: 50px;
    color:#5e4375;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .main-banner p{
    margin-left: 0;
    padding-top:0;
    color:var(--mypink);
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  
}
.bannerimg{
    position: absolute;
    margin-left: 900px;
    margin-top: 75px;
}

a.neonbtn{
    font-size: 1.5rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--myneon);
    border: var(--myneon) 2px solid;
    padding: 0.25em;
  
}
/*.backgroundsvg{
    position: relative;
    margin:0;
    padding:0;
    background-color: #019fb7;
    width: 100%;
    height: 300px;

}

#curve{
    position: absolute;
    bottom:0;
    width:105%;
    margin-right:0;
    fill: #5e4375;
}

.back2{
    width: 100%;
    height: 100vh;
    background:#019fb7;

}*/




/*
.banner{
    min-height: 60vh;
    width: 30%;
    background-position: right;
    position: relative;
}



.main-banner h1{
    width: 90%;
    transform: translate (-50%, -50%);
    text-align: center;
}

nav i {
    border-style:solid;
    border-width: 2px;
    border-color:#c2d82e;
    font-size: 15px;
    padding: 5px;
}

*/


@media screen (max-width: 700px){
font-size: 10px;}
.wrapper{
    margin-left: 10px;
    margin-right: 10px;
    
}

    
