
:root{
    --mylime: #c2d82e;
    --myblue: #019fb7;
    --mypink: #e83f70; 
    --mypurple: #5e4375; 
    --myneon: hsl(317 100% 54%);
    --mybg:hsl(323 21% 16%)}

*{
    margin:0;
    padding:0;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    padding:0;
    color:var(--mylime);
    background-color:#5e4375;
    font-size: 18px;
}

nav {
    background: var(--myblue);
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin: auto;
    }

    nav img{
        width: 200px;
        }

    .navbar{
        margin:auto;
        width: 65%;
    }
    

    .navbar ul li{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        height: 50px;
        }
    
   
    .navbar ul li a{
        color: var(--mylime);
        font-size: 1.5 rem;
        text-decoration: none;
    }

    .navbar ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background-color: #5e4375;
        display:block;
        margin:auto;
        transition: 0.5s;
    }

    .navbar ul li:hover::after{
       width: 100%;
       transition: 1s;
       }

    .searchbar{
        margin-left: 7em;
        padding-bottom: 2px;;
    }
    h1, h2, h3, h4, h5, h6, p{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main-banner::before{
        position: relative;
        width:100%;
        height: 100vh;
        background-image: url('../images/header2.jpg');
        background-size: cover;
        background-attachment: fixed;
        clip-path: circle(180vh at 50% -80vh);
        isolation: isolate;
    
    } 
.main-banner{
    position: relative;
    width:100%;
    height: 100vh;
    background-image: url('../images/header3.jpg');
    background-size: cover;
    background-attachment: fixed;
    clip-path: circle(180vh at 50% -80vh);
    isolation: isolate;
    display:flex;
} 

.mainbannertext{
    position: relative;
    display: grid;
    z-index:1;
    max-width: 500px;
    justify-content: center;    
    text-align: center;
    margin: 1.2rem;
}
    

.main-banner h1{
    font-size: 3rem;
    margin-top: 1.2rem;
    color:#5e4375;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .main-banner p{
    margin-left: 0;
    padding-top:0;
    color:var(--mypink);
  }

  .bannerimg{
    display: none;
}

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

a.neonbtn{
    font-size: 1.2rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--myneon);
    border: var(--myneon) 0.12em solid;
    padding: 0.25em;
    height:fit-content;
    width:fit-content;
    margin-left: 200px;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 
    0 0 0.50em var(--myneon);
    box-shadow: inset 0 0 0.5em 0 var(--myneon),
    0 0 0.5em 0 var(--myneon); 
    position:relative; 
    transition: background-color 100ms linear;  
}

a.neonbtn::before{
    pointer-events: none;
    content:"";
    position:absolute;
    background:var(--myneon);
    top:120%;
    left:0;
    width:100%;
    height:100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.2em);
    opacity: 0.7;
}
a.neonbtn::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0
    left: 0;
    right: 0;
    box-shadow:  0 0 2em 1em  var(--myneon);
    opacity: 0;
    background-color: var(--myneon);
    z-index: -1;
    transition: opacity 100ms linear;
}
a.neonbtn:hover,
a.neonbtn:focus{
color: var(--mybg);
background-color: var(--myneon);
text-shadow: none;
}
a.neonbtn:hover::before,
a.neonbtn:focus {
    opacity: 1;
}
a.neonbtn:hover::after,
a.neonbtn:focus {
    opacity: 1;
}

.carousel{
    position:relative;
    align-items: center;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left:0;
    animation: 10s slider infinite;
   
}
#slider figure img{
    width: 20%;
    float:left;
}
    footer {    
    font-size: 0.75rem;
}
@keyframes slider {
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
    100%{
        left:-400%;
    }
 
}

.arrows{
    display: none;
}

@media screen and (min-width: 700px) {
    .navbar {all: unset;}
    nav {
        background: var(--myblue);
        display: flex;
        padding: 2% 6%;
        align-items: center;
        justify-content:space-between;
        width: 100%;
        max-height: 100px;
        }
    
        nav img{
            width: 200px;
        }
    
        .navbar{
            flex:1;
            text-align: center;
        }
    
        .navbar ul li{
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
        }
       
        .navbar ul li a{
            color: var(--mylime);
            font-size: 1.5 rem;
            text-decoration: none;
        }
    
        .navbar ul li::after{
            content:'';
            width: 0%;
            height: 2px;
            background-color: #5e4375;
            display:block;
            margin:auto;
            transition: 0.5s;
        }
    
        .navbar ul li:hover::after{
           width: 100%;
           transition: 1s;
           }
    
        .searchbar{
            margin-right: 200px;
        }

   
        .bannerimg{
            display:inline-block;
            position: relative;
        }
        .carousel{
         margin: auto;
         max-width: 500px;
        }

}
